<template>
  <div id="login">
    <div class="container">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <form action="#" v-on:submit.prevent="login">
            <div class="control">
              <input class="input" 
              type="text" 
              placeholder="Ingrese Codigo" 
              v-model="body.codigo" 
              />
              <input
                class="input"
                type="password"
                placeholder="Ingrese Password"
                v-model="body.password"
              />
            </div>
            <div>
              <button class="button is-primary">Ingresar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import loginService from "../services/login";
name: "login";
export default {
  data() {
    return {
      operacion: 'LOGIN',
      body: {
        codigo: '',
        password: ''
      }
    };
  },
  methods: {
    login() {
      console.log("operacion "+this.operacion);
      console.log("codigo "+this.body.codigo);
      console.log("password "+this.body.password);
      loginService
        .logeo(this.operacion, this.body)
        .then(response => {
          console.log(response);
          sessionStorage.setItem('token', response.data);
          this.$router.push('home');
        })
        .catch(error => {
          console.log(error);  
        });
    }
  }
};
</script>

<style lang="scss">
</style>