<template>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <router-link class="navbar-item" to="/">
        <h3 class="title is-3">Biblioteca Uniajc</h3>
      </router-link>

      <a
        role="button"
        class="navbar-burger burger"
        v-on:click="toggleMenu"
        :class="{'is-active': isOpen}"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu" :class="{'is-active': isOpen}">
      <div class="navbar-start">
        <router-link class="navbar-item" to="/">Home</router-link>
        <router-link class="navbar-item" to="/reserva">Reserva</router-link>
        <router-link class="navbar-item" to="/usuario">Usuario</router-link>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons" v-if="isOpenButton == false">
            <button class="button is-primary" v-on:click="logearse">Iniciar Sesión</button>
          </div>
          <div class="buttons" v-if="isOpenButton == true">
            <button class="button is-danger" v-on:click="logout">Logout</button>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  data () {
    return {
      isOpen: false,
      isOpenButton: false
    }
  },
  methods: {
    toggleMenu () {
      const status = !this.isOpen;
      this.isOpen = status;    
    },
    ocultarButton () {
      console.log("Ejecuto la funcion ocultarButton");
      if(sessionStorage.getItem('token') != null && sessionStorage.getItem('token') != undefined){
        console.log("Tiene token");
        this.isOpenButton = true;
      } else {
        console.log("No tiene token");
        this.isOpenButton = false;  
      }
    },
    logout () {
      console.log("Ejecuto el logout");
      sessionStorage.removeItem('token');
      this.$router.push('home');
      this.ocultarButton();
    },
    logearse () {
      this.$router.push('login');
    }
  },
  update () {
    console.log("Ejecuto el before update");
    ocultarButton();
  },
  created () {
    console.log("Ejecuto el created");
    this.ocultarButton();
  },
  beforeMount () {
    console.log("Ejecuto el before mount");
  },
  watch: {
    isOpenButton () {
      console.log("El validador es "+this.isOpenButton);
    }
  }
};
</script>

<style>
</style>