<template>
  <div id="app">
    <div id="nav">
      <Navigation/>
    </div>
    <router-view></router-view>
  </div>
</template>

<script>
import Login from '../src/components/Login';
import Navigation from '../src/components/Navigation';
export default {
  name: 'app',
  data () {
    return {
      msg: 'Welcome',
      showValue: false,
      value: 'El valor es verdadero',
      value2: 'Algo más',
      name: '',
      modelo: '',
      url: 'www.google.com',
      lastName: '',
      fecha: '',
      formatName: ''
    }
  },
  computed: {
    fullName () {
      return `${this.name} ${this.lastName}`;
    },
    calcularFecha () {
      const AÑO_ACTUAL = 2020;
      var arreglo = this.fecha.split("/");
      var años = AÑO_ACTUAL - arreglo[2];
      return años;
    }
  },
  watch: {
    name (newVal, oldVal) {
      console.log(newVal, oldVal);
    }
  },
  methods: {
    format () {
      this.formatName = this.name.split(' ').join('-');
    }
  },
  components: {
    Navigation
  }
}
</script>

<style lang="scss">
@import './scss/main.scss';
</style>
